* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first default display */

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 1fr 4fr 4fr 2fr 1fr;
    gap: 24px;
}

body {
    background-image: url('./images/backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background: rgb(195, 143, 34);
    background: linear-gradient(0deg, rgba(195, 143, 34, 1) 0%, rgba(122, 165, 211, 1) 43%, rgba(0, 74, 180, 1) 100%);
    /* background-image: url(./images/bannerimagegrass.jpg); */
    grid-column: 1 / span 12;
    text-align: center;
}

.header h1 {
    color: white;
    margin: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    font-style:italic;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    display: inline-block;
    vertical-align: middle;
}

.navigation {
    background-color: #eb6715;
    grid-row: 2;
    grid-column: 2 / span 10;
}

.navigation li {
    list-style: none;

}

.navigation a {
    display: block;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #000;
}


.content {
    background-color: lightgray;
    grid-row: 3;
    grid-column: 2 / span 10;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.content h2 {
    margin: 1%;
    text-align: center;
}

#introText p {
    margin: 2%;
    font-style: italic;
    text-align: center;
}

.articlebox {}

.articlebox img {
    display: block;
    max-width: 100%;
    margin: auto;
    padding: 2%;
}

.articlebox figure {
    position: relative;
}

.imagetext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: x-large;
    font-style: italic;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.news-heading {
    color: #0272b3;
}

.contactdetails {
    margin: 3%;
}

#contactForm fieldset {
    border: none;
    margin: 3%;
}

#contactForm legend {
    margin-bottom: 2%;

}

#contactForm input {
    display: block;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 12px 20px;
}

label[for="commentBox"] {
    display: none;
}

#commentBox {
    width: 100%;
    padding: 12px 20px;
    resize: none;

}

.footer {
    background-color: #912703;
    margin: 1%;
    grid-column: 1 / span 12;
    grid-row: 6;
    text-align: center;
}

.footer span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
}