* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first default display */

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 1fr 4fr 1fr;
    gap: 24px;
}

.header {
    background: rgb(195, 143, 34);
    background: linear-gradient(0deg, rgba(195, 143, 34, 1) 0%, rgba(122, 165, 211, 1) 43%, rgba(0, 74, 180, 1) 100%); */
    /* background-image: url(./images/bannerimagegrass.jpg); */
    grid-column: 1 / span 12;
}

.header h1 {
    color: white;
    margin: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.navigation {
    background-color: rgb(225, 126, 87);
    grid-row: 2;
    grid-column: 2 / span 10;
}

.navigation li {
    list-style: none;

}

.navigation a {
    display: block;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    width: 33.33%;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #000;
  }


.content {
    background-color: lightgray;
    grid-row: 3;
    grid-column: 3 / span 8;
    padding: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.articlebox {
    background-color: lightgray;
    grid-column: 3 / span 8;

}

.footer {
    background-color: lightcoral;
    margin: 1%;
    grid-column: 1 / span 12;
    text-align: center;
}

.footer span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
}
    